.upload-file{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; 
}
.upload-file-button {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    color: #fff;
    background-color: rgba(255, 0, 0, 0.5);;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }

  .upload-file-button:hover {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);; 
  }
  .upload-file-button input {
    display: none; /* Hide the actual file input */
  }